
.main img{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    max-height: 225px;
    width: auto;
}
.main div {
    display:block;
    position:absolute;
    top: 5%;
    right: 5%;
    color: red;
}
.minor div {
    display:block;
    position:absolute;
    top: 15%;
    right: 15%;
    color: red;
}

.projects__slide{
    padding-right: 20px;
    padding-left: 20px;
}
.minor img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    max-height: 100px;
    max-width: 130px;
    height: auto;
    width: auto;
    margin-top: 20px;
}

.description {
    display: block;
    display: -webkit-box;
    height: 130px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: auto;
    text-overflow-y: ellipsis;
}
.learn {
    padding-top: 20px;
}

.image {
    height: 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 30%;
}

@media(max-width: 500px) {
    .main img{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        max-height: 150px;
        width: auto;
    }
}
@media(max-width: 350px) {
    .main img{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        max-height: 110px;
        width: auto;
    }
}
@media(max-width: 270px) {
    .main img{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        max-height: 90px;
        width: auto;
    }
}
.info {
    padding-top: 20px;
}
.description::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.description::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.description::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #8e8f91;
}

.padding {
    padding-top: 50px;
}

.sticky-top {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #f8fafc;
}
.balance {
    position: relative; /* needed for footer positioning*/
    height: auto !important; /* real browsers */
    min-height: 75vh;
}
